{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form class="form-container" method="post" autocomplete="off">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            Vous êtes connecté·e en tant que <b>{{ app.user.username }}</b>, <a href="{{ path('logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h2>Connexion</h2>
    <label for="inputEmail">Adresse email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn" type="submit">
        Se connecter
    </button>
    <a href="{{ path('forgot_password_request') }}">Mot de passe oublié ?</a>
</form>
{% endblock %}
