<h1>Salut !</h1>

<p>
    Merci d'avoir créé un compte Le code ! Avant de commencer, nous avons juste besoin de confirmer qu'il s'agit bien de toi.<br>
    Clique sur le lien ci-dessous pour vérifier ton adresse email :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heures. <br><br>

    Autrement, copie-colle l'URL ci-dessous dans ton navigateur :<br>
    <a href="{{ signedUrl|raw }}">{{ signedUrl|raw }}</a>.
</p>

<p>
    <h2>À très vite sur Le code !</h2>
</p>
