{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div role="alert">{{ flashError }}</div>
    {% endfor %}


    {{ form_start(registrationForm, { 'attr': { 'autocomplete': 'off', 'class': 'form-container'}}) }}
        <h2>Créer un compte</h2>

        {{ form_label(registrationForm.email, 'Email') }}
        {{ form_widget(registrationForm.email) }}
        <small>{{ form_help(registrationForm.email) }}</small>
        {{ form_errors(registrationForm.email) }}

        {{ form_label(registrationForm.username, 'Pseudo') }}
        {{ form_widget(registrationForm.username) }}
        <small>{{ form_help(registrationForm.username) }}</small>
        {{ form_errors(registrationForm.username) }}

        {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
        {{ form_widget(registrationForm.plainPassword) }}
        <small>{{ form_help(registrationForm.plainPassword) }}</small>
        {{ form_errors(registrationForm.plainPassword) }}

        {{ form_label(registrationForm.confirmPassword, 'Confirmation du mot de passe') }}
        {{ form_widget(registrationForm.confirmPassword) }}
        <small>{{ form_help(registrationForm.confirmPassword) }}</small>
        {{ form_errors(registrationForm.confirmPassword) }}

        <small>En cliquant sur ce bouton, vous acceptez nos <a href="{{ path('terms') }}">Conditions Générales d'Utilisation</a></small>
        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
