{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <h2 class="page-title">Les ressources de {{ user.username | capitalize }} :</h2>
        <div id="resourcesContainer" class="resource-container">
            {# RESSOURCES #}
        </div>
        <div id="paginationContainer" class="pagination-container">
            {# PAGES #}
        </div>
        <div class="profile-footer">
            <button id="deleteAccount" class="btn" type="submit">Supprimer mon compte</button>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
