{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div id="resourceContainer" class="resource-container">
            {# RESSOURCES #}
        </div>
        <div>
            <form id="newCommentForm">
                <label for="commentContent">Ajouter un commentaire</label>
                <textarea id="commentContent" maxlength="500"></textarea>
                <button type="submit" class="btn">Poster</button>
            </form>
        </div>
        <div id="commentsContainer">
            {# COMMENTAIRES #}
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('resource') }}
{% endblock %}