{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h2 id="searchTitle" class="page-title"></h2>
        <div id="resourcesContainer" class="resource-container">
            {# RESSOURCES #}
        </div>
        <div id="paginationContainer" class="pagination-container">
            {# PAGES #}
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

