{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h1>Mentions légales du site</h1>

        <h2>Identité</h2>
        <p>
            Nom du site web : Le code<br/>
            Adresse : tout-pour-le-code.com<br/>
            Propriétaire : Lisa Michallon<br/>
            Hébergement : Heroku<br/>
        </p>

        <h2>Conditions d’utilisation</h2>
        <p>
            L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.
        </p>

        <h2>Informations</h2>
        <p>
            Les informations et documents du site sont présentés à titre indicatif, ne revêtent pas un caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.<br/><br/>

            Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.
        </p>

        <h2>Interactivité</h2>
        <p>
            Les utilisateurs du site peuvent éventuellement y déposer du contenu, apparaissant sur le site dans des espaces dédiés (notamment via les commentaires). Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement l’entière responsabilité juridique.<br/><br/>

            Le propriétaire du site se réserve le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en vigueur.
        </p>

        <h2>Propriété intellectuelle</h2>
        <p>
            Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage.<br/><br/>

            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.<br/><br/>

            Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et peut être poursuivie en justice. <br/><br/>

            Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.
        </p>

        <h2>Liens</h2>
        <h3>Liens sortants</h3>
        <p>
            Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.
        </p>
        <h3>Liens entrants</h3>
        <p>Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :</p><br/>
        <ul style="padding-left: 50px;">
            <li>tout risque de confusion entre le site citant et le propriétaire du site</li>
            <li>ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.</li>
        </ul><br/>
        <p>Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.</p>

        <h2>Confidentialité</h2>
        <p>
            Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité. <br/><br/>

            Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL.
        </p>

        <h2>Crédits</h2>
        <p>
            Mentions légales fournies par WebExpress – Version 1.5 – Utilisation libre sous Licence Creative Commons CC BY-NC-ND 3.0 FR / creativecommons.org.
        </p>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}