{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <main class="container">
        <p>Un email contenant un lien pour réinitialiser ton mot de passe t'as été envoyé. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
        <p>Si tu ne l'as pas reçu, vérifie dans tes spams ou <a href="{{ path('forgot_password_request') }}">essaye une nouvelle fois</a>.</p>
    </main>
{% endblock %}
