<h1>Salut !</h1>

<p>
    Clique sur le lien qui suit pour réinitialiser ton mot de passe :<br><br>
    <a href="{{ url('reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>.
    Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s). <br><br>

    Autrement, copie-colle l'URL ci-dessous dans ton navigateur :<br>
    <a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>.
</p>

<p>
    <h2>À très vite sur Le code !</h2>
</p>