{% extends 'base.html.twig' %}

{% block title %}Réinitialise ton mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(requestForm, { 'attr': { 'autocomplete': 'off', 'class': 'form-container'}}) }}
        <h2>Réinitialise ton mot de passe</h2>
        {{ form_label(requestForm.email)}}
        {{ form_widget(requestForm.email) }}
        {{ form_errors(requestForm.email) }}
        <small>
            Entre ton adresse email et nous t'enverrons un
            lien pour réinitialiser ton mot de passe.
        </small>
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}