{% extends 'base.html.twig' %}

{% block title %}Réinitialise ton mot de passe{% endblock %}

{% block body %}

    {{ form_start(resetForm, { 'attr': { 'autocomplete': 'off', 'class': 'form-container'}}) }}
        <h2>Réinitialise ton mot de passe</h2>
        {{ form_widget(resetForm.plainPassword) }}
        {{ form_errors(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
