@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

// OVERRIDE DES VARIABLES
:root {
  --body-bg: #f2f3f3;

  --font-family-base: 'Poppins', sans-serif;
  --text-color: #407A86;

  --link-color: #407A86;
  --link-hover-color: hsl(230, 60%, 75%);

  --color-primary: #e2ab37;
  --color-info: #407A86;
  --color-danger: #cb4832;

  --gray-50: #e2ab37;

  --box-shadow-lg: #d3d3d3 10px 10px;

  --border-radius: 0px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #d3d3d3;

  --table-header-bg: #407A86;
}

// COULEUR DE FOND
body {
  background-color: #f2f3f3;
}

// TABLEAU
.content-panel {
  border: 1px solid #d3d3d3; // CONTOURS
}

// TITRES
.table thead {
  .fa-sort, a, span {
    color: #f2f3f3;
  }
}