@import 'breakpoints';
@import 'header';
@import 'resource';
@import 'forms';
@import 'variables';
@import 'pagination';
@import 'comment';

// FONT AWESOME
@import '../../node_modules/font-awesome/scss/font-awesome';

// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

// RESET
* {
  margin  : 0;
  padding : 0;
  outline : 0;
}

// SELECTION
::selection {
    background: $yellow;
    color     : $dark_blue;
}

// GLOBAL CSS
body {
  height: 100%;
  background-attachment: fixed;
  background-color: $off_white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='92' height='92' fill='%23fafafa'/%3E%3C/svg%3E");
  font-family : $body_font;
  padding-top : 50px;
  color: $dark_blue;
  font-size: 15px;
}

a, :visited {
  color           : $dark_blue;
  text-decoration : none;
  transition      : all 0.3s ease 0s;

  &:hover, :focus {
    //text-shadow: #d1d1d1 2px 2px;
    color : $blue;
  }
}

// BUTTONS
.btn {
  margin           : 10px auto;
  font-family      : $body_font;
  background-color : $dark_blue;
  color            : $off_white;
  padding          : 9px 25px;
  border           : none;
  cursor           : pointer;
}

.page-title {
  text-align: center;
  padding: 40px 0 20px 0;
}

a[target="_blank"] h2:after {
  font-family: 'FontAwesome';
  content: "\f08e";
  font-size: 13px;
  padding-left: 7px;
}

.profile-footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;

  @include small {
    max-width: 90vw;
  }

  .btn {
    margin: 30px auto;
  }
}

// SIGNUP MODAL
.modal-backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  .modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $off_white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid $dark_blue;
    width: 50%;

    .fa-times {
      margin : 0 0 0 auto;
      cursor : pointer;
    }

    p {
      margin: 20px;
    }
  }
}

.container {
  margin: 50px 200px;

  h1, h2, h3 {
    margin: 25px 0;
  }

  @include medium {
    margin: 50px auto;
    width: 80%;
  }
}