// SCREEN SIZES DEFINITIONS
$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px
);

// MIXINS
@mixin small {
  @media screen and (max-width: map-get($breakpoints, small)) { @content; }
}

@mixin medium {
  @media screen and (max-width: map-get($breakpoints, medium)) { @content; }
}

@mixin large {
  @media screen and (max-width: map-get($breakpoints, large)) { @content; }
}
