@import 'variables';
@import 'breakpoints';

.comment {
  background-color: $light_gray;
  margin: 20px auto;
  padding: 25px;
  border: 1px solid;
  max-width: 700px;

  @include small {
    max-width: 400px;
  }

  .fa-trash {
    float: right;
    font-size: 25px;
    color: $dark_blue;
  }
}

#newCommentForm {
  display: flex;
  flex-direction: column;
  background-color: $off_white;
  margin: 10px auto;
  padding: 25px;
  border: 1px solid;
  max-width: 700px;

  @include small {
    max-width: 400px;
  }

  textarea {
    height: 100px;
    margin: 10px 0;
    font-family: $body_font;
    padding: 5px;
  }

  .btn {
    margin: 0 auto 0 0;
  }
}