@import 'variables';
@import 'breakpoints';

// FORMULAIRES
.form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $dark_blue;
  width: 400px;
  margin: 50px auto;
  padding: 25px;

  @include small {
    width: 90%;
  }

  label {
    margin-top: 10px;
  }

  input {
    font-family: $body_font;
    height: 30px;
    border: 1px solid #999;
    margin: 10px 0;
    padding: 0 10px;
  }

  li {
    list-style: none;
    font-size: 13px;
    color: $red;
  }

  a {
    text-align: center;
  }
}
