@import 'breakpoints.scss';
@import 'variables';

// BARRE DE NAVIGATION
.nav {
  position         : fixed;
  top              : 0;
  width            : 100%;
  display          : flex;
  justify-content  : space-around;
  align-items      : center;
  min-height       : 50px;
  background-color : $red;
  color            : $off_white;
  //border-bottom    : 1px solid $gray-dark;
  box-shadow       : 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05); // ombre portée
}

// LOGO
.nav-brand {
  color          : $off_white;
  text-transform : uppercase;
  letter-spacing : 3px;
  font-size      : 20px;
}

// CONTENEUR DES LIENS
.nav-links {
  display        : flex;
  font-weight    : 600;
  font-size      : 14px;
  letter-spacing : 1px;

  @include small {
    display          : none;
    text-align       : center;
    flex-direction   : column;
    position         : fixed;
    width            : 100%;
    background-color : $gray-light;
    top              : 50px;
    left             : 0;

    a:hover {
      color : $dark_blue;
    }
  }

  // LIENS
  a, li, div {
    padding-left : 20px;
    color        : $off_white;
    list-style   : none;

    @include small {
      padding : 15px 0;
      color   : $gray-dark;
    }
  }
}


// MENU BURGER
.nav .fa-bars, .nav .fa-times {
  display : none;
  cursor  : pointer;

  @include small {
    display : flex;
  }
}

.search-bar {
  input {
    font-family: $body_font;
    padding: 0 5px;
    height: 20px;
    border: 1px solid #999;
    max-width: 125px;
  }
}