@import 'variables';

.pagination-container {
  display: flex;
  justify-content: center;

  button {
    border: 1px solid $dark_blue;
    padding: 5px 9px;
    font-size: 15px;
    background-color: $white;
    color: $dark_blue;
    margin: 5px;
    cursor: pointer;

    &.active {
      background-color: $yellow;
    }
  }
}