@import 'variables';
@import 'breakpoints';

.resource-container {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  column-count: 3;
  column-gap: 20px;

  @include medium {
    max-width: 90vw;
    column-count: 2;
  }

  @include small {
    max-width: 90vw;
    column-count: 1;
  }
}

.resource {
  text-align: left;
  max-width: 350px;
  display: inline-block;
  background-color: $white;
  border: 1px solid $dark_blue;
  margin: 10px 0;
  padding: 25px;
  font-size: 14px;

  h2 {
    margin-bottom: 20px;
    font-size: 17px;
  }

  .fa-bookmark, .fa-bookmark-o {
    float: right;
    font-size: 25px;
    margin: 3px 3px 0 20px;
    color: $yellow;
    cursor: pointer;
  }

  p {
    margin-bottom: 15px;
  }

  .label {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 10px;
    font-size: 13px;
    margin: 0 10px 10px 0;
    letter-spacing: 0.07em;
    color: $off_white;
    cursor: pointer;
    border: 1px solid $dark_blue;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: $gray-dark 3px 3px;
    }
 }
  .label--category {
    background-color: $blue;
  }

  .label--tag {
    color: $dark_blue;
  }

  a {
    display: block;
  }
}


