// PALETTE DE COULEURS
$gray-dark  : #555;
$gray-light : #d9d9d9;

$white     : #fefefe;
$off_white : #f2f3f3;
$light_gray: #d3d3d3;
$red       : #cb4832;
$yellow    : #e2ab37;
$blue      : #1d4c67;
$dark_blue : #555;

// TYPOGRAPHIE
$body_font : 'Poppins', sans-serif;
