{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}