{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Le code - Administration' %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <span class="display-3">{{ countUsers['value'] }}</span> utilisateurs
        </div>
        <div class="col-4">
            <span class="display-3">{{ countResources['value'] }}</span> ressources
        </div>
        <div class="col-4">
            <span class="display-3">{{ countComments['value'] }}</span> commentaires
        </div>
    </div>
</div>

{% endblock %}
