<nav class="nav"
    {% if app.user %} data-user="{{ app.user.id }}"
    {% else %} data-user="anonymous" {% endif %}
>
    {# BRAND #}
    <a class="nav-brand" href="{{ path('home') }}">
        <h1 class="nav-brand">Le code</h1>
    </a>
    {# LIENS #}
    <ul class="nav-links">
        <div class="search-bar">
            <input id="searchBar" type="text" placeholder="Rechercher un tag">
            <i id="searchIcon" class="fa fa-search"></i>
        </div>
        {% if app.user %} {# si utilisateur connecté #}
        <li>
            <a href="{{ path('user_profile', { 'username': app.user.username }) }}" id="profile">Mon profil</a>
        </li>
            {% if is_granted('ROLE_ADMIN') %} {# si utilisateur a le rôle admin #}
                <li>
                    <a href="{{ path('admin') }}">Administration</a>
                </li>
            {% endif %}
        <li>
            <a href="{{ path('logout') }}">Déconnexion</a>
        </li>
        {# si utilisateur non connecté #}
        {% else %}
        <li>
            <a href="{{ path('login') }}">Connexion</a>
        </li>
        <li>
            <a href="{{ path('register') }}">Inscription</a>
        </li>
        {% endif %}
    </ul>
    <i id="nav-toggle" class="fa fa-bars"></i>
</nav>

{{ encore_entry_script_tags('app') }}